.cart-page {
  color: white;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  min-height: 680px;
  padding-top: 60px;
  /* padding-bottom: 40px; */

  /* margin-top: 80px;
  width: 90%;
  height: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* background-color: blueviolet; */
  height: 90%;
}

.cart-header {
  height: 40px;
  /* background-color: blanchedalmond; */
}

.cart-list-of-products {
  /* background-color: brown; */
  width: 65%;
  height: 100%;
}

.cart-subtotal-container {
  /* background-color: darkorchid; */
  background-color: rgba(255, 140, 0, 0.541);
  width: 30%;
  height: 300px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .cart-page {
    width: 100%;
  }
  .cart-header {
    /* background-color: blueviolet; */
    margin-top: 20px;
  }

  .cart-container {
    flex-direction: column;
  }

  .cart-list-of-products {
    width: 100%;
  }
  .cart-subtotal-container {
    width: 90%;
    margin: 0 auto;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
