.cart-product-container {
  /* background-color: cadetblue; */
  background-color: rgba(128, 128, 128, 0.233);
  border: 2px solid grey;
  display: flex;
  flex-direction: row;
  align-items: center;

  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  height: 180px;
  padding: 0 20px;
  margin-top: 20px;
}

.cart-product-image {
  background-color: darkred;
  /* width: 100px; */
  height: 140px;
  width: 20%;
}

.cart-product-data {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.product-name-price {
  /* background-color: blanchedalmond; */
  width: 40%;
  text-align: left;
  padding: 0 30px;
  height: 140px;
}

.product-quont-remove {
  /* background-color: blue; */
  height: 140px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.product-final-price {
  /* background-color: chartreuse; */
  width: 25%;
  height: 140px;
}

.product-final-price > h4 {
  font-size: 30px;
  padding-top: 33px;
  margin: 0;
}

.cart-quontity-container {
  /* background-color: darkcyan; */
  border: 2px solid rgba(128, 128, 128, 0.658);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 50px;
  font-size: 24px;
}

.cart-quontity-container > div {
  /* background-color: darkorange; */
  width: 33.3%;
}

.cart-quontity-container:hover .quont-control {
  opacity: 1;
}

.quont-control {
  font-size: 22px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.quont-control:hover {
  color: darkorange;
}

.remove-btn {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.remove-btn:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  .cart-product-container {
    height: 230px;
    padding: 0 10px;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  .cart-product-image {
    width: 35%;
  }

  .cart-product-data {
    flex-direction: column;
    align-items: center;

    width: 65%;
    height: 92%;
    padding: 10px 0;
  }

  .product-name-price {
    width: 100%;
    padding: 0;
    height: 50%;
  }
  .product-name-price > h2,
  .product-name-price > p {
    padding-left: 30px;
    margin: 8px 0;
  }
  .product-quont-remove {
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
  }

  .cart-quontity-container {
    margin-left: 30px;
  }

  .product-final-price {
    width: 100%;
    height: 40px;
    text-align: left;
    padding-top: 10px;
  }
  .product-final-price > h4 {
    padding: 0;
    padding-left: 30px;
  }

  .quont-control {
    opacity: 1;
  }
}
