.breadCrumbs-container {
  /* background-color: blueviolet; */
  position: absolute;
  top: 140px;
  left: 14%;
  right: 14%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.breadCrumbs {
  /* display: flex;
  align-items: center; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* background-color: blue; */
  height: 100%;
}
.crumbs-path {
  /* background-color: lawngreen; */
  /* padding-left: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.crumbs-path > p {
  margin: 0;
  color: grey;
}

.path {
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.back-crumb {
  /* background-color: tomato; */
  width: 90px;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.crumb-box {
  /* background-color: lawngreen; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: grey;
}

.crumb-box > p {
  margin: 0;
}

.crumb,
.home-crumb {
  padding: 0 7px;
  text-decoration: none;
  border: none;
  color: grey;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.crumb:hover,
.home-crumb:hover {
  color: white;
}

.current-crumb {
  color: white;
  padding: 0 7px;
}

.back-crumb > p {
  margin: 0;
  margin-left: 5px;
  transition: all ease-in 0.2s;
  /* background-color: teal; */
}

.back-crumb:hover > p {
  color: grey;
}
/* .crumb:last-child {
  color: white;
} */
.round {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  margin-left: 10px;
}
#cta {
  width: 100%;
  height: 20px;
  cursor: pointer;
  position: relative;
}

#cta .arrow {
  left: 30%;
}
.arrow {
  position: absolute;
  /* bottom: 0; */
  margin-left: 0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 6px;
  /* left: 14px; */
}
.segunda {
  margin-left: 8px;
}
.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.back-crumb:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.back-crumb:hover .arrow.primera {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (max-width: 768px) {
  .breadCrumbs-container {
    left: 20px;
    right: 0;
    top: 110px;
  }
}
