.pop-up-message-container {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-end; */
  height: 50px;
  color: black;
  padding-left: 140px;
  padding-top: 20px;
  /* padding-left: 10px; */
}

.popup-message {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 80%;
}

.product-name-popup {
}

.popup-triangle {
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 50px 65px 0px 0px;
  height: 0px;
  width: 0px;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .pop-up-message-container {
    padding-left: 40px;
  }
}
