.icons-container {
  /* position: relative; */
  /* background-color: blue; */
}

.list-of-icons {
  /* background-color: blue; */
  /* margin: 0;
  padding: 0; */
  /* display: flex;
  position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* z-index: 1000; */
}

.list-of-icons > li {
  list-style: none;
  margin: 0 15px;
  /* z-index: 2; */
}

.list-of-icons > li > a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  /* background: #171515; */
  background: var(--black);
  border-radius: 50%;
  font-size: 30px;
  color: rgb(177, 174, 174);
  transition: 0.5s;
  /* z-index: 2; */
}

.list-of-icons > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background: #d35400; */
  background: white;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.list-of-icons > li > a:hover::before {
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
  box-shadow: 0 0 15px white;
  filter: blur(3px);
}

.list-of-icons > li > a:hover {
  /* color: #ffa502;
  box-shadow: 0 0 25px #d35400;
  text-shadow: 0 0 15px #d35400; */
  color: white;
  box-shadow: 0 0 25px white;
  text-shadow: 0 0 15px white;
  /* z-index: 3; */
}
