.contact-page {
  padding-top: 100px;
  height: 600px;
  width: 72%;
  margin: 0 auto;
  /* background-color: tomato; */
  margin-bottom: 30px;
  color: white;
}

.contacts-container {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
}

.contacts-info {
  /* background-color: brown; */
  width: 45%;
  text-align: left;
}

.contacts-info > h1 {
  font-size: 100px;
  font-weight: 100;
}

.contact-image {
  width: 400px;
  margin-right: 100px;
}

.contact-image > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact-page {
    width: 90%;
    margin: 0 auto;
    height: auto;
    padding-top: 10px;
  }
  .contacts-container {
    padding: 0;
    flex-direction: column-reverse;
  }

  .contact-image {
    width: 100%;
    margin: 0;
  }

  .contacts-info {
    width: 100%;
  }

  .contacts-info > h1 {
    font-size: 50px;
    font-weight: 100;
  }
}
