.nav-desktop {
}

.nav-mobile {
  display: none;
}
/* .nav {
}


.nav-box {
  position: fixed;
  z-index: 200;
  margin-top: 25px;
  left: 14%;
  right: 14%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.nav-logo {
  background-color: white;
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 50%;
  height: 50px;
  margin-left: 20px;
  background-image: url(../../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.nav-controls {
  background-color: white;
  width: 61%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link-list-desktop {
  width: 85%;
}
.nav-language-desktop {
  width: 10%;
}
.nav-cart-burder-desktop {
  width: 5%;
}

.products-menu-desktop {
  position: absolute;
  top: 100px;
  height: 170px;
}

.pmd-enter {
  opacity: 0;
  transition: all 0.3s ease-in;
}
.pmd-enter-active {
  opacity: 1;
}
.pmd-exit {
  opacity: 1;
  transition: all 0.3s ease-in;
}
.pmd-exit-active {
  opacity: 0;
}

 */

@media screen and (max-width: 768px) {
  .nav {
    /* display: none; */
    width: 100%;
    height: 100%;
  }

  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: inline;
    height: 100%;
  }

  .nav-box {
    left: 0;
    right: 0;
  }

  .nav-container {
    height: 60px;
    width: 90%;
    margin: 0 auto;
  }
  .nav-logo {
    /* justify-content: flex-start; */
    width: 40%;
  }
  .logo {
    /* width: 100%; */
    width: 100%;
    margin-left: 10px;
    background-image: url(../../img/logo-mini.png);
    /* justify-content: center; */
  }
  .nav-traingle {
    display: none;
  }

  .nav-controls {
    justify-content: flex-end;
  }

  .nav-link-list-desktop {
    display: none;
  }

  .nav-language-desktop {
    display: none;
  }
  .nav-cart-burder-desktop {
    width: 60%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  /* .links-list {
    display: none;
  }
  .nav-language-selector {
    display: none;
  }
  .nav-logo {
    width: 70%;
  }
  .nav-controls {
    width: 40%;
    justify-content: flex-end;
  } */
}
