.products-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-top: 20px;
}

.products {
  height: 100%;
  /* background-color: brown; */
  /* width: 790px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; */
  /* position: absolute; */
  /* right: 155px; */
  /* height: 100%; */
  /* top: 100px; */
}
.products-menu {
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 580px;
  height: 100%;
}

.product-menu-type-container {
  /* background-color: darkcyan; */
  padding-top: 20px;
  width: 33.33%;
  padding-left: 30px;
  padding-right: 30px;
  /* height: 100%;
    background-color: tomato;
    width: 28%; */
}

.product-menu-type-container:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.show-menu-btn {
  display: none;
}

.product-menu-type-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  /* background-color: teal; */
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.product-menu-type-header > h4 {
  margin: 0;
}

.product-menu-type-list {
  /* background-color: turquoise; */
}

.product-menu-type-list > ul {
  list-style: none;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0;
  /* 
    
    padding-left: 14px; */
}

.link-btn {
  padding-top: 10px;
  font-size: 14px;
  color: grey;
  cursor: pointer;

  /* padding: 6px 0; */
}

.link-btn:hover {
  color: black;
}

.product-traingle {
  /* background-color: cornflowerblue; */
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 170px 221px 0px 0px;
  height: 0px;
  width: 0px;
}

@media screen and (max-width: 768px) {
  .products-menu-container {
    margin: 0;
  }

  .desktop {
    display: none;
  }
  .products {
    /* display: none; */
    /* background-color: blue; */
    /* margin-left: 60px; */
    width: 330px;
    margin: 0;
  }
  .product-traingle {
    display: none;
  }
  .products-menu {
    flex-direction: column;
    background-color: inherit;
    margin-left: 40px;
    padding-bottom: 10px;
    width: 90%;
  }
  .product-menu-type-container {
    /* background-color: khaki; */
    width: 80%;
  }
  .product-menu-type-header {
    border-bottom: 1px white solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
    width: 100%;

    align-items: center;
  }

  .show-menu-btn {
    display: inline;
  }
  .product-menu-type-list > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    /* padding-left: 60px; */
  }

  .product-menu-type-list > ul > li {
    padding-top: 20px;
  }
  .product-menu-type-list > ul {
    /* padding-top: 10px; */
    /* padding: 10px 0; */
  }
}
