.product-page {
  /* background-color: indianred; */
  width: 72%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 120px;
}

.product-info-container {
  /* background-color: indigo; */
  width: 50%;
  min-height: 600px;
  color: white;
}

.product-photo-container {
  /* background-color: khaki; */
  height: 500px;
  width: 50%;
  padding-right: 140px;
}

.product-photo-container > img {
  height: 500px;
  cursor: pointer;
}

.product-info {
  /* background-color: lavender; */
  text-align: left;
  padding-left: 140px;
  padding-right: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.product-info > h1 {
  font-weight: 100;
  font-size: 100px;
  margin: 0;
}

.product-info > p {
  letter-spacing: 1.5px;
  line-height: 20px;
}

.product-info > h2 {
  font-weight: 100;
  font-size: 40px;
}

.add-to-cart-btn {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.add-to-cart-btn > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  height: 100%;
  width: 200px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-to-cart-traingle {
  border-color: transparent transparent transparent transparent;
  border-style: solid;
  border-width: 50px 61px 0px 0px;
  height: 0px;
  width: 0px;
  transition: all 0.2s ease-in-out;
}

.add-to-cart-btn:hover > p {
  color: black;
  background-color: white;
}

.add-to-cart-btn:hover > .add-to-cart-traingle {
  border-color: white transparent transparent transparent;
}

.inCart > p {
  background-color: white;
  color: black;
}

.inCart > .add-to-cart-traingle {
  border-color: white transparent transparent transparent;
}

.popup-message-box {
  /* background-color: aqua; */
  position: absolute;
  top: 140px;
  right: 415px;
  width: 500px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .product-page {
    /* display: none; */
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 10px;
  }
  .product-info-container {
    width: 100%;
  }
  .product-info {
    padding: 0 40px;
    height: auto;
  }

  .product-photo-container {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .product-photo-container > img {
    /* display: none; */
    padding: 0 30px;
    width: 80%;
    height: auto;
  }

  .add-to-cart-btn {
    margin-top: 40px;
  }
}
