.product-page {
  color: white;
  margin-top: 40px;
}

.back-to-products-button-container {
  /* background-color: darkorchid; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.product-info-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 100px;
  height: 660px;
}

.product-info-page-left {
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.product-images-container {
  /* background-color: darkorchid; */
  margin-right: 50px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.change-image-btn {
  font-size: 80px;
  cursor: pointer;
}

.product-image {
  margin: 0 auto;
  max-width: 500px;
  border-radius: 50%;
  box-shadow: 0px 0px 40px 1px darkorange;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.product-image:hover {
  box-shadow: 0px 0px 100px 3px darkorange;
}

.image-counter-container {
  color: white;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.selected-dot {
  color: darkorange;
  transition: color 0.2s ease-in-out;
  border-radius: 50%;
}

.product-general-info {
  color: white;
  width: 45%;
  height: 100%;
}

.product-price-and-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.product-info {
  height: 65%;
}

.product-info-selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.product-info-btn {
  padding: 14px 24px;
  width: 80px;
  cursor: pointer;
}

.openedTab {
  background-color: rgba(128, 128, 128, 0.6);
}

.product-description {
  background-color: rgba(128, 128, 128, 0.6);
  height: 90%;
  width: 100%;
  margin: 0 auto;
}

.product-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.product-in-cart-message {
  position: absolute;
  top: 12px;
  right: 100px;
}

@media screen and (max-width: 768px) {
  .product-page {
    /* background-color: brown; */
    padding-top: 100px;
    width: 95%;
    margin: 0 auto;
  }

  .product-info-page-container {
    /* background-color: cadetblue; */
    flex-direction: column;
    margin-top: 20px;
    height: auto;
    padding: 0;
    /* margin-top: 70px; */
  }

  .product-info-page-left {
    width: 100%;
    /* display: none; */
  }

  .product-images-container {
    position: initial;
    /* background-color: coral; */
    width: 100%;
    margin: 0;
  }
  .product-image {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .product-general-info {
    /* background-color: chartreuse; */
    width: 100%;
    /* display: none; */
  }

  .image-counter-container {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
  }

  .product-price-and-name-container {
    /* background-color: khaki; */
    width: 90%;
  }

  .product-info {
  }

  .product-info-selector {
  }

  .product-info-btn {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .product-description {
    height: 300px;
  }

  .product-links {
    padding: 20px 0;
    /* background-color: lightcoral; */
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  .product-in-cart-message {
  }
}
