.black-layout {
  background-color: #1e1e1ee8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.photo-container {
  width: 100%;
  height: 100%;
}

.photo-container-top {
  position: relative;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-photo {
  margin: 0 auto;
}
.product-photo > img {
  max-width: 800px;
  max-height: 700px;
}

.image-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.small-image-preview {
  padding: 16px;
}

.small-image {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: 3px solid black;
}

.small-image:hover {
  transform: scale(1.2);
}

.selected-small-image {
  transform: scale(1.2);
}

.close-modal-container {
  height: 8%;
  /* cursor: pointer; */
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-modal-container > p {
  cursor: pointer;
  /* background-color: hotpink; */
  padding: 6px;

  color: rgb(179, 179, 179);
  font-size: 24px;
  transition: all 0.2s ease-in;
}

.close-modal-container > p:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  /* body {
    overflow: hidden;
  } */
  .product-photo > img {
    width: 100%;
  }
  .photo-container-top {
    width: 100%;
    /* margin: 0;
    width: 100%; */
  }
  .product-photo {
    width: 100%;
  }
  .image-counter {
    display: none;
  }
}
