.swiper-container {
  width: 100%;
  height: 90%;
  /* background-color: #282c34; */
  background-color: black;
  /* background-color: white; */
}
.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-general {
  padding: 75px 0;
  margin: 0 auto;
  width: 100%;
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: 0 auto;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.item:hover {
  flex: 7;
}

.description-container {
  opacity: 0;
  background-color: rgba(128, 128, 128, 0.671);
  width: 100%;
  height: 100px;
  transition: all 0.2s ease-in-out;
}

.description {
  /* background-color: hotpink; */
  height: 100%;
  width: 80%;
  margin: 0 auto;
  /* padding: 0 50px; ADD THIS TO PREVENT IMAGE ZOOM. CHANGE WIDTH TO 100% */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.description > p {
  /* background-color: indianred; */
  width: 70%;
  height: 100%;
}

.show-all-btn-container {
  width: 30%;
  /* background-color: khaki; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.show-all-btn {
  /* background-color: white; */
  padding: 12px 28px;
  border: 3px solid black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  /* width: 100px;
  margin-right: 50px; */
  /* padding: 10px; */
}

.show-all-btn:hover {
  background-color: black;
  color: white;
  /* border: 3px solid white; */
}

.item:hover .description-container {
  opacity: 1;
}

.item-1 {
  background-image: url("../img/DSC01463.jpg");
}

.item-2 {
  background-image: url("../img/DSC01041.jpg");
}
.item-3 {
  background-image: url("../img/27-5.jpg");
}
.item-4 {
  background-image: url("../img/DSC01992.jpg");
}
.item-5 {
  background-image: url("../img/DSC04492.jpg");
}

@media screen and (max-width: 768px) {
  .swiper-container {
    display: none;
  }
}
