.links-list {
  /* background-color: yellowgreen; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.products-menu-mobile {
  display: none;
}

.links-list > li {
  /* background-color: darkmagenta; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: grey;
  cursor: pointer;
  transition: color 0.2s ease-in;

  /* height: 30px; */

  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: grey;
  cursor: pointer;
  transition: color 0.2s ease-in;
  height: 30px; */
}

.li-btn {
  /* background-color: burlywood; */
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
  height: 100%;
}

.links-list > li > p,
.li-btn > p {
  /* background-color: red; */
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  height: 30px;
}

.small-traingle {
  border-color: transparent transparent transparent transparent;
  border-style: solid;
  border-width: 30px 36px 0px 0px;
  height: 0px;
  width: 0px;
  transition: all 0.2s ease-in;
}

.li-btn:hover > p {
  color: white;
  background-color: black;
}

.links-list > li:hover > p {
  color: white;
  background-color: black;
}

.links-list > li:hover .small-traingle {
  border-color: black transparent transparent transparent;
}

@media screen and (max-width: 768px) {
  .products-menu-mobile {
    display: flex;
    /* background-color: khaki; */
    width: 100%;
  }
  .links-list {
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: space-evenly; */
    height: 550px;
    padding: 20px 0;
    /* height: auto; */
  }
  .li-products-container {
    display: flex;
    flex-direction: column !important;
    /* height: 400px !important; */
    /* background-color: coral; */
    /* display: flex; */
  }

  .li-btn {
    /* background-color: crimson; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .links-list > li {
    /* background-color: cornflowerblue; */
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    /* margin: 0 auto; */
    margin-top: 30px;
    margin-left: 30px;
    /* justify-content: space-between; */
    /* height: 10px; */
  }

  .links-list > li > p {
    /* background-color: darkgray; */
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .li-btn > p {
    /* background-color: darkgray; */
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .small-traingle {
    border-color: transparent transparent transparent transparent;
  }

  .li-btn:hover > p {
    color: black;
    background-color: white;
  }

  .links-list > li:hover > p {
    color: black;
    background-color: white;
  }

  .links-list > li:hover .small-traingle {
    border-color: white transparent transparent transparent;
  }
}
