:root {
  --header-height: 80px;
  --nav-width: 324px;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --black: #191919;
  --blue: #14213d;
  --orange: #fca311;
  --platinum: #e5e5e5;
  --white: #ffffff;

  /* --body-font: "Kufam", cursive;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem; */

  /* Margenes */
  /* --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem; */

  /*z-Index*/

  /* --z-index: 100; */
}

.App {
  text-align: center;
  /* background-color: #282c34; */
  /* background-color: brown; */
  /* height: 100%; */
  min-height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

header {
  /* height: 160px; */
  /* background-color: coral; */
  width: 100%;
  /* height: 160px; */
  /* height: 160px; */
  /* z-index: 1000; */
}

footer {
  width: 100%;
}

.cp-enter {
  transform: translateX(100%);
}
.cp-enter-active {
  transform: translateX(0);
  /* opacity: 1; */
  transition: all 1s;
}

/* .os-enter-done {
  transform: translateX(0);
} */
.cp-exit {
  transform: translateX(0);
}

.cp-exit-active {
  /* opacity: 0; */
  transform: translateX(100%);
  transition: all 1s;
}

/* .cp-exit-done {
  opacity: 0;
} */

@media screen and (max-width: 768px) {
  .App {
    min-height: 100vh;
  }
  header {
    /* background-color: brown; */
    /* height: 120px;
    position: fixed;
    z-index: 1000; */
  }
  footer {
    /* display: none; */
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
